.intro
{
    height:calc(100vh - 50px);

    video
    {
        width:100%;
        margin-top:-50px;
    }
    div
    {
        width:100%;
        height:calc(100vh - 50px);
        position:absolute;
        top:0%;
    }
}
@media screen and (max-aspect-ratio: 16/9) {
    .intro
    {
        height:100vh;
        video
        {
            margin-top: 0%;
            height:100vh;
            object-fit:cover;
        }
        div
        {
            height:inherit;
        }
    }
}